@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body, html{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: "#006aa3";

}
main {
    display: relative;
    width: 100vw;
    height: 100vh;
   overflow: hidden;
}

canvas {
    position: relative;
    top: -100px;
    left: -100px;
    display: block;
    cursor: url("https://img.icons8.com/external-photo3ideastudio-lineal-color-photo3ideastudio/64/000000/external-fish-food-pet-shop-photo3ideastudio-lineal-color-photo3ideastudio.png"), pointer;
}

.links{
    background-color: #ffffffaa;
    padding: 20px;
    border-radius: 15px;
    border: none;

    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    font-size: 1rem !important;
}

@media  screen and (max-width: 600px) {
    body {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }
    .links{
        position: static;
        text-align: center;
    }
    .bmc-btn{
        text-align: left;
    }
}
    

.bmc-btn{
    font-size: 1rem !important;
    min-width: 0 !important;
    padding: 0 10px !important;
    color: white !important;
}

a, a:visited{
    color: #ac1818;
}